header {
  height: 100vh; 
}

.head-container {
  
  width: 100%;
  height: 100vh;
  display: flex;
  color: var(--secondary-color);

} 


.hero-header {
 background-image: url("../../img/groove_header_02.jpg"); 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  background-position:center;
    height: 100vh;
    position: relative; /* wichtig für das Video-Overlay */
    overflow: hidden;
}

.soundcheck-image {
  background-image: url("../../img/groove_header_02.jpg"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position:center;
    
    position: relative; /* wichtig für das Video-Overlay */
    overflow: hidden;
}


.hero-video {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    .hero-video.loaded {
        opacity: 1;
    }

    .hero-content {
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: var(--secondary-color);
    text-align: start;
    z-index: 2;
    padding: 20px;
    /* text-shadow: 2px 2px 8px rgba(0,0,0,0.7); */
}


@media (min-width: 768px) {
    .hero-video {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hero-content {
    left:30%;
    padding: 100px;
    /* text-shadow: 2px 2px 8px rgba(0,0,0,0.7); */
    width: 40%;
}

}



.mobile-video-wrapper {
    display: block;
    width: 100%;
    margin-bottom: 0; /* Abstand zum Footer */
}

  .mobile-video-wrapper video {
    width: 100%;
    height: auto;
    display: block;
  }

.head-container > div:nth-child(1) {
  height: 100%; 
  width: 100%; 
  
}


.head-container > div:nth-child(2) > div:nth-child(1) {
  max-width: 380px;
  margin-bottom: 80px;
}


.background-clip {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto; 
} 


.container-fluid {
		padding: 0 ;
}

.row{
  margin: 0;
}

section {
  background-color: var(--secondary-color);
}

section .row{
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
}

#intro .row{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding-top: var(--space-xl);
  padding-bottom: var(--space-lg);
  padding-left: var(--space-md);
  padding-right: var(--space-md); 
}

#description--amp img{
	padding-bottom: var(--space-md);
  display: none;
}

#description--speaker img{
	padding-bottom: var(--space-md);
  display: none;
}

#soundcheck{
	background-color: transparent;
}

#soundcheck .row{
  background-color: transparent;
  text-align: center;
}

#soundcheck p,
#soundcheck h3 {
  color: var(--secondary-color);
}

#about .row{
  background-color: var(--highlight-section-bg);
  padding-left: var(--space-sm);
  padding-right: var(--space-sm); 
}

#about img{
  border-radius: 50%; 
  width: 100%;
  padding: var(--space-sm); 
}

#contact .row {
  padding-bottom: var(--space-lg);
}

#contact .col-lg-6:first-of-type{
	text-align: center;
	margin-bottom: 60px; 
}

#contact ul {
	margin-top: var(--space-md);
	padding-left: 1px;
}

#contact li {
	display: inline;
	list-style: none;
	padding-right: var(--space-sm)
}

#message {
  height: 200px;
}

.mail {
  justify-content: center;
}

.mail a {
  font-size: 1rem;
}

.text-column {
  padding: 0px 10px; 
}

.flex-column {
  display: flex;
  align-items:center;
  justify-content: start;
}


  

@media screen and (min-width: 768px) {

  .container-fluid {
		padding: 0 var(--space-lg);
	}

  section .row {
    padding: 50px 0; 
  }

  .head-container > div:nth-child(2) > div:nth-child(1) {
    max-width: 580px;
    margin-bottom: 100px;
    margin-left: 100px;
  }

  .head-container video {
    display: none;
  }

  .bottom-container {
    display: none;
  }

  .bottom-container video {
    display: none;
  }
  
  #intro {
    padding-bottom: 50px;
  }

  #intro .container-fluid {
		 padding: 0 0; 
	}

  #intro .row {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 350px;
    padding-right: 350px;
  }

  #description--amp .row {
    padding-left: 100px;
    padding-right: 100px;
  }

  #description--amp img{
    display: unset;
  }

  #description--speaker img{
    display: unset;
  }

   #description--speaker .row {
    padding-left: 100px;
    padding-right: 100px;
  }

  #soundcheck {
    padding-bottom: 0px;
  }

  #soundcheck .row {
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
  }

	#product .container-fluid {
		padding: 0 0px;
	}

  #product .row {
    padding-left: 30px;
    padding-right: 30px;
  }

	#about .container-fluid {
		 padding: 0 0; 
	}

   #about img {
    width: 65%;
  }

	#contact .container-fluid {
		padding: 0 100px;
	}

  #contact .row:first-of-type {
    padding: 0 px;
  }

  #contact .col-lg-6:first-of-type {
    text-align: left;
    padding-right: 100px;
  }

  .text-column {
    padding: 0px 50px;
  }

  .mail {
    justify-content: start;
  }

  .mobile-video-wrapper {
  display: none;
}

}

@media screen and (min-width: 1400px) {

  .flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
}


}